@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@350&display=swap');

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
 background-color: magenta;
 height: 1px; 
 border: none;
}

article {
  display: flex;
  justify-content: space-around;
  margin: 50px auto; 
  max-width: 800px;
}

.details{
  min-width:200px; 
  text-align: center;
}

button{
  background-color: magenta;
  margin: 5px; 
  font-weight: bold; 
  font-size: 20px; 
  padding: 5px; 
  border-radius: 0.25rem;
}

input[type=submit]{
  background-color: magenta;
  margin: 5px; 
  font-weight: bold; 
  font-size: 20px; 
  padding: 5px; 
  border-radius: 0.25rem;
}

input{
  font-size: 20px; 
}